#define VERSION_MAJOR            MAJOR_T
#define VERSION_MINOR            MINOR_T
#define VERSION_REVISION         REVISION_T
#define VERSION_BUILD            BUILDNUM_T
#define BUILDING_TIME            BUILDTIME_T
#define NUM4STR(a,b,c,d)         #a "." #b "." #c "." #d
#define VERSIONBUILDSTR(a,b,c,d) NUM4STR(a,b,c,d)
#define VERSION_BUILD_STR        VERSIONBUILDSTR(VERSION_MAJOR,VERSION_MINOR,VERSION_REVISION,VERSION_BUILD)
